In [1]:
# import packages
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift
import plotly.express as px

# DB_Scan

In [2]:
tr_pi_bf_ff_data = pd.read_csv("tr_pi_bf_data.csv")
tr_pi_bf_ff_data

,Location,2021-09-30,2021-10-01,2021-10-02,2021-10-03,2021-10-04,2021-10-05,2021-10-06,2021-10-07,2021-10-08,...,2022-09-21,2022-09-22,2022-09-23,2022-09-24,2022-09-25,2022-09-26,2022-09-27,2022-09-28,2022-09-29,2022-09-30
0,accommodation,19.650000,19.650000,19.650000,19.650000,19.650000,21.070000,21.070000,22.470000,22.470000,...,15.420000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000
1,apartment,41.250000,18.748571,17.359545,20.222222,18.615000,17.094583,16.434333,17.451250,20.289630,...,21.612075,17.140755,16.863704,18.818000,16.984118,19.943929,17.471905,17.368235,18.431803,13.934750
2,bus garage,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,...,55.290000,55.290000,42.840000,42.840000,42.840000,42.840000,42.840000,42.840000,42.840000,42.840000
3,camping,34.310000,23.950000,24.890000,27.256667,18.023333,19.156000,28.550000,15.514286,33.090000,...,28.371667,35.451667,18.495000,25.987500,39.406667,43.830000,39.830000,15.840000,30.804000,34.006667
4,company,20.905000,16.552857,16.643750,11.484167,18.126429,17.580000,13.431250,12.335000,20.972143,...,16.287778,11.307692,19.859091,17.765625,24.762500,15.470000,17.926316,19.333333,13.918000,14.747857
5,golf,18.190000,18.190000,29.080000,43.980000,48.470000,16.850000,6.815000,6.815000,19.775000,...,16.085000,10.477500,10.575000,15.990000,20.342000,13.850000,12.450000,8.671429,14.920000,13.743333
6,hotel,30.400000,15.535455,14.221579,13.649375,15.448333,8.088571,14.432143,12.442353,16.289375,...,17.551562,14.464286,13.990870,9.104231,15.897273,8.912632,20.580000,13.578571,15.190714,14.392222
7,market,6.360000,6.360000,4.703333,19.444000,6.493333,11.001667,15.350000,7.303333,4.460000,...,19.841667,25.022500,7.330000,3.020000,18.575000,13.700833,17.013000,19.261000,11.967143,11.644286
8,public area,32.500000,17.029677,11.390000,26.530526,16.363158,19.911724,18.239474,20.295000,17.220741,...,14.356061,16.877273,17.985532,15.040577,18.274200,18.369512,16.198182,16.957500,18.090909,16.522000
9,public institution,21.342500,17.595714,20.472727,17.220000,12.375000,21.683636,19.561333,10.059333,20.469375,...,17.154800,16.508889,22.177333,14.384211,14.120000,19.924348,19.499643,13.655556,21.807778,17.012917
10,public parking lot,13.288667,13.288667,12.531111,10.840000,11.605556,15.686250,16.345000,11.440000,16.486000,...,17.890000,17.522500,11.268889,21.845714,20.204000,21.120000,16.918750,15.117000,20.565000,22.185000
11,resort,37.745000,13.907857,14.660769,23.178000,17.299286,13.871923,15.086000,14.506923,19.494444,...,19.909444,19.216071,20.392500,16.228750,18.588261,17.776842,21.906500,14.874211,17.631538,12.086897
12,restaurant,20.692500,20.692500,20.213333,1.000000,22.530000,22.136667,10.165000,26.816000,17.163333,...,15.316250,24.161429,17.703750,18.205455,12.954545,14.495833,16.381818,19.181000,15.361429,10.158571
13,sightseeing,18.030000,18.030000,15.296667,10.875000,5.280000,21.410000,23.150000,9.390000,12.480000,...,25.005000,13.725556,11.513333,11.961667,21.127500,29.363333,8.562857,15.730000,18.042500,11.442500

In [3]:
index_df = tr_pi_bf_ff_data.set_index("Location")
index_df

,2021-09-30,2021-10-01,2021-10-02,2021-10-03,2021-10-04,2021-10-05,2021-10-06,2021-10-07,2021-10-08,2021-10-09,...,2022-09-21,2022-09-22,2022-09-23,2022-09-24,2022-09-25,2022-09-26,2022-09-27,2022-09-28,2022-09-29,2022-09-30
Location,,,,,,,,,,,,,,,,,,,,,
accommodation,19.650000,19.650000,19.650000,19.650000,19.650000,21.070000,21.070000,22.470000,22.470000,22.470000,...,15.420000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000,19.190000
apartment,41.250000,18.748571,17.359545,20.222222,18.615000,17.094583,16.434333,17.451250,20.289630,18.808333,...,21.612075,17.140755,16.863704,18.818000,16.984118,19.943929,17.471905,17.368235,18.431803,13.934750
bus garage,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,30.930000,...,55.290000,55.290000,42.840000,42.840000,42.840000,42.840000,42.840000,42.840000,42.840000,42.840000
camping,34.310000,23.950000,24.890000,27.256667,18.023333,19.156000,28.550000,15.514286,33.090000,26.586667,...,28.371667,35.451667,18.495000,25.987500,39.406667,43.830000,39.830000,15.840000,30.804000,34.006667
company,20.905000,16.552857,16.643750,11.484167,18.126429,17.580000,13.431250,12.335000,20.972143,17.091000,...,16.287778,11.307692,19.859091,17.765625,24.762500,15.470000,17.926316,19.333333,13.918000,14.747857
golf,18.190000,18.190000,29.080000,43.980000,48.470000,16.850000,6.815000,6.815000,19.775000,19.775000,...,16.085000,10.477500,10.575000,15.990000,20.342000,13.850000,12.450000,8.671429,14.920000,13.743333
hotel,30.400000,15.535455,14.221579,13.649375,15.448333,8.088571,14.432143,12.442353,16.289375,11.465625,...,17.551562,14.464286,13.990870,9.104231,15.897273,8.912632,20.580000,13.578571,15.190714,14.392222
market,6.360000,6.360000,4.703333,19.444000,6.493333,11.001667,15.350000,7.303333,4.460000,17.152500,...,19.841667,25.022500,7.330000,3.020000,18.575000,13.700833,17.013000,19.261000,11.967143,11.644286
public area,32.500000,17.029677,11.390000,26.530526,16.363158,19.911724,18.239474,20.295000,17.220741,15.703125,...,14.356061,16.877273,17.985532,15.040577,18.274200,18.369512,16.198182,16.957500,18.090909,16.522000
public institution,21.342500,17.595714,20.472727,17.220000,12.375000,21.683636,19.561333,10.059333,20.469375,16.842500,...,17.154800,16.508889,22.177333,14.384211,14.120000,19.924348,19.499643,13.655556,21.807778,17.012917
public parking lot,13.288667,13.288667,12.531111,10.840000,11.605556,15.686250,16.345000,11.440000,16.486000,15.319091,...,17.890000,17.522500,11.268889,21.845714,20.204000,21.120000,16.918750,15.117000,20.565000,22.185000
resort,37.745000,13.907857,14.660769,23.178000,17.299286,13.871923,15.086000,14.506923,19.494444,21.914167,...,19.909444,19.216071,20.392500,16.228750,18.588261,17.776842,21.906500,14.874211,17.631538,12.086897
restaurant,20.692500,20.692500,20.213333,1.000000,22.530000,22.136667,10.165000,26.816000,17.163333,14.520000,...,15.316250,24.161429,17.703750,18.205455,12.954545,14.495833,16.381818,19.181000,15.361429,10.158571
sightseeing,18.030000,18.030000,15.296667,10.875000,5.280000,21.410000,23.150000,9.390000,12.480000,9.850000,...,25.005000,13.725556,11.513333,11.961667,21.127500,29.363333,8.562857,15.730000,18.042500,11.442500

In [4]:
index_df.T.isna().sum()

Location
accommodation         0
apartment             0
bus garage            0
camping               0
company               0
golf                  0
hotel                 0
market                0
public area           0
public institution    0
public parking lot    0
resort                0
restaurant            0
sightseeing           0
dtype: int64

In [12]:
clustering = MeanShift(bandwidth=40).fit(index_df)
clustering.labels_

array([ 9,  0,  4,  2,  7, 10,  5, 13,  3,  6, 12,  1,  8, 11],
      dtype=int64)

In [6]:
# Get cluster labels and predicted centroids
cluster_labels = clustering.labels_
centroids = clustering.cluster_centers_

In [7]:
cluster_labels

array([ 9,  0,  4,  2,  7, 10,  5, 13,  3,  6, 12,  1,  8, 11],
      dtype=int64)

In [8]:
cluster_df = pd.DataFrame({"Location":index_df.index,"K_Means_labels":cluster_labels})
cluster_df

              Location  K_Means_labels
0        accommodation               9
1            apartment               0
2           bus garage               4
3              camping               2
4              company               7
5                 golf              10
6                hotel               5
7               market              13
8          public area               3
9   public institution               6
10  public parking lot              12
11              resort               1
12          restaurant               8
13         sightseeing              11

In [21]:
cluster_df.to_csv("cluster_df.csv",index=False)

## END Of K-Means
# prepare data for visualization

In [23]:
cluster_df = pd.read_csv("cluster_df.csv")
cluster_df

              Location  K_Means_labels
0        accommodation               2
1            apartment               1
2           bus garage               5
3              camping               3
4              company               1
5                 golf               0
6                hotel               1
7               market               1
8          public area               1
9   public institution               1
10  public parking lot               1
11              resort               1
12          restaurant               1
13         sightseeing               4

In [16]:
grouped_by_data = pd.read_csv("grouped_by_loc_start_date_charging_records.csv")
grouped_by_data

           Location     level_1    average
0     accommodation  2021-10-04  19.650000
1     accommodation  2021-10-06  21.070000
2     accommodation  2021-10-13  22.470000
3     accommodation  2021-10-14  24.600000
4     accommodation  2021-11-18   3.160000
...             ...         ...        ...
4487    sightseeing  2022-09-26  29.363333
4488    sightseeing  2022-09-27   8.562857
4489    sightseeing  2022-09-28  15.730000
4490    sightseeing  2022-09-29  18.042500
4491    sightseeing  2022-09-30  11.442500

[4492 rows x 3 columns]

In [25]:
# Assuming x_col in x has unique values that match column names in y
merged_df = grouped_by_data.merge(cluster_df, left_on='Location', right_on='Location')

In [26]:
merged_df

           Location     level_1    average  K_Means_labels
0     accommodation  2021-10-04  19.650000               2
1     accommodation  2021-10-06  21.070000               2
2     accommodation  2021-10-13  22.470000               2
3     accommodation  2021-10-14  24.600000               2
4     accommodation  2021-11-18   3.160000               2
...             ...         ...        ...             ...
4487    sightseeing  2022-09-26  29.363333               4
4488    sightseeing  2022-09-27   8.562857               4
4489    sightseeing  2022-09-28  15.730000               4
4490    sightseeing  2022-09-29  18.042500               4
4491    sightseeing  2022-09-30  11.442500               4

[4492 rows x 4 columns]

In [27]:
merged_df.to_csv("merged_gb_k_means.csv",index=False)

# END Of TSK_Means